*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.galleryPost {
    display: flex;
    justify-content: space-between;
}

.imageWrapper {
    overflow: hidden;
    object-fit: cover;
    max-height: 450px;
    position: relative;
}

.imageWrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imageWrapper .blogs{
    position: absolute;
    color: #fff;
    bottom: 20px;
    left: 10px;
}

.sideImageWrapper{
    overflow: hidden;
    object-fit: cover;
    max-height: 450px;
}

.sideImageWrapper img{
    width: 100%;
    object-fit: cover;
    height: 150px;
    /* margin-bottom: -5px; */
}

.sideImageWrapper .one{
    margin-bottom: -7px;
}
.sideImageWrapper .two{
    margin-bottom: -7px;
}


.blog-wrapper{
    position: relative;
}

.blog-wrapper .blogs{
    position: absolute;
    color: #fff;
    bottom: 7px;
    left: 10px;
}

.blog-wrapper .blogs span{
    font-size: 0.8rem;
}

.blog-wrapper .blogs h1{
    font-size: 1rem;
}

.HomeContainer {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.postImageWrapper{
    overflow: hidden;
}

.postImageWrapper img{
    width: 100%;
    object-fit: cover;
    max-height: 450px;
}

/* button {
    padding: 6px;
    border-radius: 50px;
}

button:focus{
    border: none;
} */
.Nav_link:link {
    color: #fff;
    text-decoration: none;
  }
  .Nav_link:visited {
    color: #fff;
  }
  .Nav_link:hover {
    color: rgb(153, 80, 11);
  }

  @media screen and (max-width:900px){
    .galleryPost {
        display: block;
        width: 100%;
    }

    .imageWrapper{
        width: 100%!important;
        height: 50vh;
    }

    .sideImageWrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%!important;
    }
}
