*{
    margin: 0;
    padding: 0;
}

.sideBarContainer {
    width: 27%;
}

.cardHeader{
    text-align: center;
    display: block;
    font-size: 15px;
    color: #565673;
    text-transform: uppercase;
    padding: 5px 10px;
    letter-spacing: 3px;
    box-sizing: border-box;
}

.cardHeader img{
    max-width: 100%;
}

.network img {
    margin-top: 10px;
}

.cardBody {
    padding: 0 10px 10px 10px;
}

.cardBody p{
    font-weight: 300;
    font-size: 14px;
}

.cardBody p strong{
    font-weight: 400;
}

.socialNetworks ul{
    display: flex;
    justify-content: center;
    padding: 8px;
}

.socialNetworks .social-list a{
    margin: 0 5px;
    color: #565673;
}

.socialNetworks .social-list a:hover{
    color: #333;
    font-weight: bold;
}

.recentPosts {
    padding: 20px;
}

.recentPost {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.recentPost h4{
    font-weight: 500;
    color: #3c3c3c;
    letter-spacing: 1px;
    font-size: 15px;
}

.recentPost span{
    font-size: 12px;
    font-weight: 400;
    color: #6c6c6c;
}

@media screen and (max-width:900px){
    .sideBarContainer {
        width: 100%!important;
    }

    .HomeContainer {
        display: block;
        margin: 20px 0;
    }

    .recentPosts {
        text-align: center;
    }
}